<div class="editor-row">
    <div class="gf-form-group">
        <h5 class="section-heading">Map Options</h5>
        <div class="gf-form">
            <label class="gf-form-label width-10">MapBox API Key</label>
            <input type="text" class="input gf-form-input width-40" ng-model="ctrl.panel.mbApiKey" placeholder="pk.xxxxxxxxx" ng-change="ctrl.hardResetMap()" ng-model-onblur />
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-10">Map Style</label>
            <div class="gf-form-select-wrapper max-width-10">
                <select class="input-small gf-form-input" ng-model="ctrl.panel.mapStyle" ng-options="s for (s,u) in ctrl.opts.mapStyles" ng-change="ctrl.setMapProviderOpts()"></select>
            </div>
        </div>
        <gf-form-switch class="gf-form" label="Allow Pan/Zoom" label-class="width-10" checked="ctrl.panel.userInteractionEnabled" on-change="ctrl.hardResetMap()">
        </gf-form-switch>
        <div class="gf-form">
            <label class="gf-form-label width-10">Center</label>
            <input type="text" class="input-small gf-form-input width-30" ng-model="ctrl.lonLatStr" ng-change="ctrl.setNewMapCenter()" ng-model-onblur />
            <label class="gf-form-label" ng-click="ctrl.setLocationFromMap()">Use Current</label>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-10">Initial Zoom</label>
            <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.initialZoom" ng-change="ctrl.setZoom()" placeholder="1" ng-model-onblur />
        </div>
        <div class="gf-form" ng-show="false">
            <gf-form-switch class="gf-form" label="Show Legend" label-class="width-10" checked="ctrl.panel.showLegend" on-change="ctrl.toggleLegend()"></gf-form-switch>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">WMS overlay</label>
            <input type="text" class="input-small gf-form-input width-20" ng-model="ctrl.panel.wmsoverlay" ng-change="ctrl.loadThredds(true)" ng-model-onblur />
        </div>
    </div>
    <div class="gf-form-group">
        <h5 class="section-heading">Thredds Options</h5>
        <div class="gf-form">
            <label class="gf-form-label width-10">WMS Thredds URL</label>
            <input type="text" class="input gf-form-input width-40" ng-model="ctrl.panel.thredds.url" ng-change="ctrl.loadThredds(true)" ng-model-onblur />
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Thredds WMS Parameter</label>
            <input type="text" class="input-small gf-form-input width-20" ng-model="ctrl.panel.thredds.parameter" ng-change="ctrl.loadThredds(true)" ng-model-onblur />
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Color Scale MIN</label>
            <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.thredds.scale_min" ng-change="ctrl.loadThredds(true)" ng-model-onblur />
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Color Scale MAX</label>
            <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.thredds.scale_max" ng-change="ctrl.loadThredds(true)" ng-model-onblur />
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Style</label>
            <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.thredds.style" ng-change="ctrl.loadThredds(true)" ng-model-onblur />
        </div>
    </div>
</div>
